Welcome, <%=@user.name%> ! <br>

  <%if @user.events.any?%>
  	<h5>Events created (<%=@user.events.count%>)</h5>
  	    <%@events.each do |e|%>
  		   <p><%=e%><p>
  		<%end%>
  <%end%>

  <%if @user.attending_events.any?%>
  	<h5>Events Attending(<%=@user.attending_events.count%>)</h5>
  	 <%@user.attending_events.collect.each do |e|%>
  	 	<li><%=link_to e.name, event_path(e.id)%></li>
  	 <%end%>
  <%end%>

<h2>Profile page still under construction...</h2>

