<h1>Events#new</h1>
<p>Find me in app/views/events/new.html.erb</p>

<%=form_for(:event, url: events_path) do |f|%>
	<%=f.label :name%>
	<%=f.text_field :name%><br>

	<%=f.label :place%>
	<%=f.text_field :place%><br>

	<%=f.label :date%>
	<%=f.text_field :date%><br>

	<%=f.submit%>

<%end%>