<h3>Name</h3>
<p><%=@event.name%></p>
<h3>Place</h3>
<p><%=@event.place%></p>
<h3>Date</h3>
<p><%=@event.date%></p>
<h3>Hosted By</h3>
<p><%=@event.creator.name%></p>

<h4>Attendees(<%=@event.attendees.count%>)</h4>

<%=@event.attendees.collect(&:name)%>