<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if logged_in?%>
      <p>Profile: <%=current_user.name%></p>
      <%=link_to 'logout', session_path(current_user), method: :delete%>
    <%end%>
    <%flash.each do |type,msg|%>
    	<p><%=type%> : <%=msg%></p>
    <%end%>
    <%= yield %>
  </body>
</html>
